<div class="  d-flex justify-content-center footer text-white align-items-center align-content-center pt-5">
    <div class="row text-center ">
        <div class="col-md-4">
        <h2>Location</h2>
        <p>2215 John Daniel Drive</p>
        <p>Clark, MO 65243</p>
        </div>
        <div class="col-md-4">
            <h2>AROUND THE WEB</h2>
        <i class="fa-brands fa-facebook px-2 fs-4"></i>
        <i class="fa-brands fa-twitter px-2 fs-4"></i>
        <i class="fa-brands fa-linkedin px-2 fs-4"></i>
        <i class="fa-solid fa-globe mx-1 icon fs-4"></i>
            </div>
            <div class="col-md-4">
                <h2>ABOUT FREELANCER</h2>
                <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
                <p>Clark, MO 65243</p>
                </div>
    </div>
</div>
<footer>
<div class="footer2 ">
    <p class="text-white text-center p-3">Copyright © Your Website 2021</p>
</div>
</footer>