.nav-link{
    transition: unset !important;
}
.active-link{
    background-color: #1abc9c;
    padding: 2px;
    border-radius: 5px;
    color: white;
}

.line-star{
    background-color: white;
    width: 60px;
    height: 3px;
    display: inline-block;
}