<section class="home d-flex align-items-center">
    <div class="container text-center align-content-center">
        <img src="./images/avataaars.svg" alt="home" class="p-2">
        <h2 class="text-white">Start Framework</h2>
        <div class="text-center">
            <div class="line-star"></div>
            <i class="fas fa-star text-white mx-2"></i>
            <div class="line-star"></div>
        </div>
        <p class="text-white">Graphic Artist - Web Designer - Illustrator</p>
    </div>
</section>
